div.jumbotron {
	height: 200px;
	width: 100%;
	overflow: hidden;
	background-color: black;
	position: relative;
}

div.jumbotron > img {
	position: relative;
	height: auto;
	width: 110%;
	top: 50%;
	transform: translate(0, -50%);
}

div.jumbotron-small {
	height: 100px;
}

div.jumbotron > div.details {
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 4px;
}

.light-text {
	color: white;
}

li.trail-listing-cell {
	padding: 0 !important;
	border: none !important;
	background-color: black;
	color: white;
}

li.trail-listing-cell a {
	color: white;
}

div.trail-listing-cell-label {
	padding: 8px;
}

div.dogs-allowed {
	width: 30px;
	height: 30px;
	background-image: url("../images/dogs-allowed-black.png");
	background-size: cover;
}

div.dogs-not-allowed {
	width: 30px;
	height: 30px;
	background-image: url("../images/dogs-not-allowed-black.png");
	background-size: cover;
}

