<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trails Across New Mexico</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Include the compiled Ratchet CSS -->
    <link href="static/css/ratchet.css" rel="stylesheet">

    <!-- Include the compiled Ratchet JS -->
    <script src="static/js/ratchet.js"></script>

    <!-- Include Trails-specific CSS -->
    <link href="static/css/app.css" rel="stylesheet">

    <!-- Service worker for caching -->
    <script src="static/js/register-service-worker.js"></script>
  </head>
  <body>

    <!-- Make sure all your bars are the first things in your <body> -->
    <header id="header" class="bar bar-nav">
      <router-link to="/trails" class="icon icon-left-nav pull-left"></router-link>
      <h1 class="title">Trails</h1>
    </header>

    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
      <div id="app">
        <router-view></router-view>
      </div>
    </div>

    <!-- TODO: Add tab bar on the bottom so that we can navigate
    between e.g. list of communities, list of trails, etc. -->

    <!-- Templates -->
    <template id="trail-list-tpl">
      <ul class="table-view">
        <trail-listing
           v-for="(trail, trailId) in trails"
           v-bind:trail="trail"
           v-bind:trail-id="trailId"
           v-bind:key="trailId">
        </trail-listing>
      </ul>
    </template>

    <template id="trail-listing-tpl">
      <li class="table-view-cell trail-listing-cell">
        <div>
          <router-link v-bind:to="'/trails/' + trailId">
            <!-- TODO: make the images the background for these listings like in the original app -->
            <!-- <img v-bind:src="trail.image_url" /> -->
            <div class="jumbotron jumbotron-small">
              <img :src="trail.image_url" />
            </div>
            <div class="trail-listing-cell-label">
              <div>{{ trail.name }}</div>
              <div><small>{{trail.distance}}, {{trail.difficulty}}</small></div>
            </div>
          </router-link>
        </div>
      </li>
    </template>

    <template id="trail-details-tpl">
      <div v-if="loading">
        Loading...
      </div>
      <div v-else>
        <div class="jumbotron">
          <img v-bind:src="trail.image_url" class="jumbotron" />
        </div>
        <div>{{ trail.name }}</div>
        <div><small>{{trail.distance}}, {{trail.difficulty}}</small></div>
      </div>
    </template>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Vue.js -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <!-- vue-resource for AJAX/HTTP requests -->
    <script src="https://unpkg.com/vue-resource@1.3.4"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>

    <!-- VueFire (Vue.js and FireBase integration) -->
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>

    <!-- Trails app code -->
    <script src="static/js/app.js"></script>
    </body>
</html>
