
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trails Across New Mexico</title>

    <!-- https://webdesign.tutsplus.com/articles/quick-tip-give-your-website-an-ios-home-screen-icon--webdesign-10067 -->
    <link rel="apple-touch-icon" sizes="29x29" href="static/images/icons/iPad-1X-29pt.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="static/images/icons/iPad-1x76pt.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="static/images/icons/iPhone-60pt.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="static/images/icons/iPad-2x76pt.png" />

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Include the compiled Ratchet CSS -->
    <link href="static/css/ratchet.min.css" rel="stylesheet">

    <!-- Include the compiled Ratchet JS -->
    <script src="static/js/ratchet-modified.js"></script>

    <!-- Include Trails-specific CSS -->
    <link href="static/css/app.css" rel="stylesheet">

    <!-- Service worker for caching -->
    <script src="static/js/register-service-worker.js"></script>
  </head>
  <body>

    <!-- Make sure all your bars are the first things in your <body> -->
    <!-- Header bar -->
    <header id="header" class="bar bar-nav">
      <!-- <router-link to="/trails" class="icon icon-left-nav pull-left"></router-link> -->
      <a href="javascript: window.history.back();" class="icon icon-left-nav pull-left"></a>
      <a href="#share-modal" class="icon icon-more-vertical pull-right"></a>
      <h1 class="title">{{ title }}</h1>
    </header>

    <div id="share-modal" class="modal">
      <header class="bar bar-nav">
        <a class="icon icon-close pull-right" href="#share-modal"></a>
        <h1 class="title">Share</h1>
      </header>

      <div class="content">
        <a class="btn btn-block">Share on Facebook</a>
        <a class="btn btn-block">Share on Twitter</a>
      </div>
    </div>

    <!-- Footer tab bar -->
    <nav id="tab-bar" class="bar bar-tab">
      <router-link to="/communities" class="tab-item">
        <span class="icon icon-search"></span>
        <span class="tab-label">Search Communities</span>
      </router-link>

      <a href="#" class="tab-item">
        <span class="icon icon-list"></span>
        <span class="tab-label">Trails List</span>
      </a>
    </nav>

    <!-- Facebook JavaScript SDK -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=168532903209292";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
      <div id="app">
        <router-view></router-view>
      </div>
    </div>

    <!-- Templates -->
    <template id="trail-list-tpl">
      <div>
        <div class="search-bar">
          <input v-model="searchQuery" type="search" placeholder="Search">
        </div>
        <div>
          <ul class="table-view">
            <trail-listing
               v-for="key in filteredKeys"
               v-bind:trail="trails[key]"
               v-bind:trail-id="key"
               v-bind:key="key">
            </trail-listing>
          </ul>
        </div>
      </div>
    </template>

    <template id="trail-listing-tpl">
      <li class="table-view-cell trail-listing-cell">
        <div>
          <router-link v-bind:to="'/trails/' + trailId">
            <div class="jumbotron jumbotron-small">
              <img :src="trail.image_url" />
            </div>
            <div class="trail-listing-cell-label">
              <dog-icon :allowed="trail.dogs_allowed" class="pull-right"></dog-icon>
              <div>{{ trail.name }}</div>
              <div><small>{{trail.distance}}, {{trail.difficulty}}</small></div>
            </div>
          </router-link>
        </div>
      </li>
    </template>

    <template id="dog-icon-tpl">
      <div v-if="allowed" class="dogs-allowed"></div>
      <div v-else class="dogs-not-allowed"></div>
    </template>

    <template id="trail-details-tpl">
      <div v-if="loading">
        <!-- place a nice picture and maybe animation -->
        Loading...
      </div>
      <div v-else>
        <div class="jumbotron">
          <img v-bind:src="trail.image_url" class="jumbotron" />
          <div class="details light-text">
            <div>
              <a class="directions-icon" :href="trail.static_map_url"></a>
              <dog-icon :allowed="trail.dogs_allowed"></dog-icon>
              <a class="map-icon" :href="trail.live_map_url"></a>
            </div>
            <div><small>{{trail.distance}}, {{trail.difficulty}}</small></div>
          </div>
          <div class="details-right light-text">
            <!-- <small>Share your hike on: </small> -->
          </div>
        </div>
        <div class="content-body"> 
          <div>{{trail.description}}</div>
          <a class="btn btn-block">Show Map</a>
        </div>
      </div>
    </template>

    <template id="community-list-tpl">
      <ul class="table-view">
        <community-listing
           v-for="key in sortKeys"
           v-bind:community="communities[key]"
           v-bind:community-id="key"
           v-bind:key="key">
        </community-listing>
      </ul>
    </template>

    <template id="community-listing-tpl">
      <li class="table-view-cell community-listing-cell">
        <router-link v-bind:to="'/communities/' + communityId" class="navigate-right">
          <!-- TODO: Add logos for the communities pulled left -->
          <!-- <img v-bind:src="trail.image_url" /> -->
          <div>{{ community.name }}</div>
          <div><small>{{community.location}}, {{community.description}}</small></div>
        </a>
      </li>
    </template>

    <template id="community-details-tpl">
      <div v-if="loading">
        Loading...
      </div>
      <div v-else>
        <img v-bind:src="community.banner_image_url" class="banner" />
        <div class="content-body"> 
          <div>{{ community.name }}</div>
          <div><small>{{community.location}}, {{community.description}}</small></div>
        </div>
      </div>
    </template>


    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Underscore.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

    <!-- LatLon script -->
    <script src="static/js/latlon-spherical.js"></script>

    <!-- Vue.js -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>

    <!-- VueFire (Vue.js and FireBase integration) -->
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>

    <!-- Trails app code -->
    <script src="static/js/app.js"></script>
    </body>
</html>
